/* 
Nav Bar
 */
 #navBar {
    height: 45px;
    width: 100%;
    position: fixed;
    opacity: 80%;
    top: 0;
    left: 0;
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    align-items: center;
    padding-left: 20px;
    box-shadow: 2px 2px 8px black;
    text-decoration: none;
}

#navBar p {
    padding-top: 26px;
    font-weight: bolder;
    font-size: 17px;
    font-family: customFont;
    color: black;
    text-shadow: 3px 3px 4px white;
}

#navButton {
    cursor: pointer;
    width: 40px;
}

/* 
Side Bar
 */
#sideBar { 
    height: 100%;
    width: 15%;
    position: fixed;
    top: 45px;
    left: -18%;
    background-color: #e7e7e7;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 0px 10px black;
    transition: .6s ease-in-out;
    visibility: hidden;
    opacity: 80%;
}

#links {
    font-family: CustomFont, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    font-weight: bolder;
    text-align: left;
    /* padding: 10px; */

    text-decoration: none;
    color: black;
    
}

#links a:visited, #links a:focus, #links a:active, #links a{
    text-decoration: none; 
    color: black;
}

#links a:hover {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 8px lime;
}

@media (max-width : 1000px){
    #sideBar{
        width: 100%;
        left: -100%;
    }
}

@media (max-width : 360){
    #name {
        font-size: 16px;
    }
}

/* #contentPane { To be copied over and edited depending on pages needs, generally good to go
    width: 80%;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    transition: .6s ease-in-out;
    padding-top: 50px;
    /* Comment and un comment depending if you want to see and edit content pane size *\\/
    border-style: solid;
} 
*/